@{
    ViewBag.Title = "Home Page";
    
}




@model IEnumerable<Di.Core.Dto.User>

<div class="row">
    <h1>ASP.NET 5 Dependency Injection</h1>
    <div class="col-lg-12">
        <ul>
            @foreach (var user in Model)
            {
                <li>@user.Name</li>
            }
        </ul>       
    </div>


    @using Di.Core.Interfaces
    @inject IUserService service

    <div class="row">
        <h1>Inject from Razor</h1>
        <div class="col-lg-12">
            Name: <b> @service.GetName()</b>
        </div>
    </div>

</div>

